.catalogy-section {

    &__title {
        margin: 72px 0 48px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;

        @media screen and (min-width:$bp-tablet) {
            margin: 120px 0 57px;
            font-size: 35px;
        }
    }

    &__el1,
    &__el2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        @media screen and (min-width:$bp-tablet) {
            justify-content: space-between;
        }
    }

    &__card {
        box-shadow: 4px 4px 25.9px -8px #1887BFA8;
        padding: 59px 30px 30px;
        border-radius: 34px;
        cursor: pointer;

        h3 {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 101px 0;

        a {
            color: #fff;
            padding: 20px 60px;
            border: none;
            background-color: #1887BF;
            cursor: pointer;
            align-items: center;
        }
    }



}