.portfolio-section {
    padding: 96px 0 148px;

    @media screen and (min-width:$bp-tablet) {
        padding: 134px 0 434px;
    }

    &__title {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }

    &__text {
        text-align: justify;

        @media screen and (min-width:$bp-tablet) {
            text-align: center;
        }
    }

    &__gallery {
        margin-top: 78px;
        
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        justify-content: space-around;
        row-gap: 40px;
    }
}